.page.theme_light {
  --main-bg-color: #ffc2e6;  
  --text-color: #353430;  
  --decor-color: #353430;
  --bg-color: #ff8dcb;
  --shadow-color: #ff0070;
  --main-text-color: #353430;  
  --head-color: #ff8dcb; 
  --element-color: #ffc2e6; 
  --image: url("../images/cover-image-light.png");
  --display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --main-bg-color: #ffc2e6;  
    --text-color: #353430;  
    --decor-color: #353430;
    --bg-color: #ff8dcb;
    --shadow-color: #ff0070;
    --main-text-color: #353430;  
    --head-color: #ff8dcb; 
    --element-color: #ffc2e6; 
    --image: url("../images/cover-image-light.png");
    --display: none;
  }
}

