:root {
  --main-bg-color: #000028;  
  --text-color: #000028;  
  --decor-color: #ff0070;
  --bg-color: #ff0070;
  --shadow-color: #ff0070;
  --main-text-color: #f1b2ce;  
  --element-color: #ff0070;
  --head-color: #db00ff; 

  --size-xxs: 1px;
  --size-xs: 10px;  
  --size-s: 18px;
  --size-sm: 20px;
  --size-m: 40px;  
  --size-l: 50px;  

  --image: url("../images/cover-image-dark.png");
}